/*------------------------Mobile-----------------------*/
.showcase {
  background-color: var(--primary-color);
  padding: 2em 0 1em 1.5em;
}

/*---Showcase-title--*/
.showcase__title {
  max-width: 80%;
}
.showcase__name {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.1;
}
.showcase__job {
  color: var(--light-gray);
  font-size: 1.5rem;
  margin: 0.3em 0;
}
.showcase__job span {
  color: var(--light-blue);
}
.showcase__description {
  color: var(--light-gray);
}
.showcase__btn {
  margin-top: 0.8em;
}

/*---Showcase-ilustration--*/
.showcase__ilustration {
  display: none;
}

/*---Showcase-skills--*/
.showcase__skills {
  margin-top: 2em;
}
.showcase__skills .icon {
  font-size: 2.8rem;
}

.showcase__skills .icon:not(:first-child) {
  margin-left: 0.03em;
}

/*--------------------------Tablet------------*/
@media screen and (min-width: 768px) {
  /*---Showcase-skills--*/
  .showcase__skills .icon {
    font-size: 3.2rem;
  }

  .showcase__skills .icon:not(:first-child) {
    margin-left: 0.05em;
  }
}

/*-------------------------------Desktop------------------------*/
@media screen and (min-width: 1023px) {
  .showcase {
    padding: 2em 0 0 1.5em;
  }
  .showcase__container {
    display: grid;
    grid-template-columns: 12fr;
  }
  /*---Showcsase-title---*/
  .showcase__title {
    grid-column: 1/7;
  }

  /*---Showcase-ilustration---*/
  .showcase__ilustration {
    display: block;
    grid-row: 1/3;
    grid-column: 7/13;
  }
  .showcase__ilustration img {
    width: 400px;
  }

  /*---Showcase-skills---*/
  .showcase__skills {
    margin-top: 0;
    grid-row: 2/3;
  }
  .showcase__skills .icon {
    font-size: 3.5rem;
  }
}
